﻿@{
    ViewBag.Title = "title";
    Layout = null;
}

<!doctype html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8" />
        <title>My Fucki'n first Angular website !</title>
        <link rel="stylesheet" href="../../Content/Site.css" />
        <script src="../../Scripts/angular.js" type="text/javascript"></script>
    </head>
    <body>
        <p>Nothing here {{'yet' + '!'}}</p>
        <p>1 + 2 = {{1+2}}</p>
    </body>
</html>
